<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="card border-success mb-3 col-md-offset-1" style="width: 100%;">
        
        <div class="card-body text-dark">
            
            <div class="container">
                
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label>Cursos:</label>
                                    <select class="form-control" [(ngModel)]="cursosel" (change)="setCurso()"
                                        name="cursosel">
                                        <option>Fundamentos de Programacion</option>
                                        <option>Java EE</option>
                                        <option>Java SE</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label>Periodos:</label>
                                    <select class="form-control" [(ngModel)]="periodosel" (change)="setPeriodo()"
                                        name="periodosel">
                                        <option>Octubre 2020 - Diciembre 2021</option>
                                        <option>Enero 2021 - Marzo 2021</option>
                                        <option>Abril 2021 - Junio 2021</option>
                                        <option>Julio 2021 - Septiembre 2021</option>
                                    </select>
                                </div>
                            </div>

                            <div class="card" style="width: 60%;">
                                <div class="card border-success mb-3">
                                    <div class="card-body text-success">
                                        <div *ngIf="!filtroinstructor" class="form-group">

                                            <table class="table table-bordered table-stripped"
                                                style="text-align: center;">
                                                <thead>
                                                    <tr>
                                                        <th>NUMERO DEL INSTRUCTOR</th>
                                                        <th>CEDULA DEL INSTRUCTOR</th>
                                                        <th>NOMBRE</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>

                                                <tbody>

                                                    <tr *ngFor="let instructor of instructores">
                                                        <td>{{instructor.idInstructor}}</td>
                                                        <td>{{instructor.cedula}}</td>
                                                        <td>{{instructor.nombre}}</td>

                                                        <!--<td><input type="checkbox" [(ngModel)]="selcurso" name="{{curso.idCurso}"></td>-->
                                                        <button (click)="asignarInstructor(instructor)"
                                                            class="btn btn-primary">Asignar Instructor</button>
                                                    </tr>


                                                </tbody>

                                            </table>


                                        </div>

                                        <div *ngIf="filtroinstructor" class="form-group">

                                            <div class="col-md-4">
                                                <label>Cédula</label>
                                                <input disabled type="text" class="form-control"
                                                    [ngModel]="cedulainstructorsel" name="cedulainstructorsel">
                                            </div>

                                            <div class="col-md-8">
                                                <label>Nombre</label>
                                                <input disabled type="text" class="form-control"
                                                    [ngModel]="nombreinstructorsel" name="nombreinstructorsel">
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">

                                <button class="btn btn-primary" (click)="create()">Guardar</button>


                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>